#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    #{form action:@create(), enctype:'multipart/form-data'}
        <legend>Informations</legend><br/>
        <div class="row">
            <div class="span5">
                #{crud.form fields:['type', 'nom', 'noSIRET']/}
            </div>
            <div class="span5">
                #{crud.form fields:['reference', 'actif', 'capital']}
                    #{crud.custom "reference"}
                        #{field 'object.reference'}
                            <label for="${field.id}">
                            &{'reference'}
                            </label>
                            <p class="offset1">
                            ${field?.value}
                            </p>
                            <input id="${field.id}" class="${field.errorClass}" type="hidden" name="${field.name}" value="${field?.value?.escape()?.raw()}"/>
                            #{ifError field.name}
                                <span class="error">${field.error.raw()}</span>
                            #{/ifError}
                        #{/field}
                    #{/crud.custom}
                #{/crud.form}
            </div>
        </div>
        <legend>Coordonnées</legend><br/>
        <a id="add-btn" class="btn btn-success" style="color:white">
            +
        </a>
        <table id="addresses">
            <thead>
                <td>Adresse</td>
                <td>CP</td>
                <td>Ville</td>
                <td>Pays</td>
                <td></td>
            </thead>
            <tbody>

            </tbody>
        </table>
        #{crud.groupButtonsSave type: type/}
    #{/form}

</div>
<link rel="stylesheet" media="screen" href="@{'/public/js/bootstrap-editable-1.4.6/css/bootstrap-editable.css'}">
<script src="@{'/public/js/bootstrap-editable-1.4.6/js/bootstrap-editable.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script id="entry-template" type="text/x-handlebars-template">
    <tr>
        <td>
            <a href="#" id="idAdresse" data-type="text" data-original-title="Saisir Adresse"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].adresse" value="">
        </td>
        <td>
            <a href="#" id="idCp" data-type="text" data-original-title="Saisir CP"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].cp" value="">
        </td>
        <td>
            <a href="#" id="idVille" data-type="text" data-original-title="Saisir Ville"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].ville" value="">
        </td>
        <td>
            <a href="#" id="idPays" data-type="text" data-original-title="Saisir Pays"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].pays" value="">
        </td>
        <td>
            <a class="btn btn-danger" onclick='$(this).parentsUntil("tbody", "tr").remove();' style="color:white;">
                -
            </a>
        </td>
    </tr>
</script>
<script src="@{'/public/js/partenaire.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
    $(function() {
        editableTableAdsresses();
    });
</script>

