#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
<input type="hidden" value="${object._key()}" id="idObject">
<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        <legend>Informations</legend><br/>
        <div class="row">
            <div class="span5">
                #{crud.form fields:['type', 'nom', 'noSIRET']/}
            </div>
            <div class="span5">
                #{crud.form fields:['reference', 'actif', 'capital']}
                    #{crud.custom "reference"}
                        #{field 'object.reference'}
                            <label for="${field.id}">
                                &{'reference'}
                            </label>
                            <p class="offset1">
                                ${field?.value}
                            </p>
                            <input id="${field.id}" class="${field.errorClass}" type="hidden" name="${field.name}" value="${field?.value?.escape()?.raw()}"/>
                            #{ifError field.name}
                                <span class="error">${field.error.raw()}</span>
                            #{/ifError}
                        #{/field}
                    #{/crud.custom}
                #{/crud.form}
            </div>
            *{#{crud.form fields:['contacts']}}*
                *{<div class="span5">}*
                    *{#{crud.custom "contacts"}}*
                        *{Contact}*
                    *{#{/crud.custom}}*
                *{</div>}*
            *{#{/crud.form}}*
        </div>
        <legend>Coordonnées</legend><br/>
        <a id="add-btn" class="btn btn-success" style="color:white">
            +
        </a>
        <table id="addresses">
            <thead>
                <td>Adresse</td>
                <td>CP</td>
                <td>Ville</td>
                <td>Pays</td>
                <td></td>
            </thead>
            <tbody>
                #{list items:object?.coordonneePostales, as:'coordonneePostale'}
                    <tr>
                        <input type="hidden" name="object.coordonneePostales[${coordonneePostale_index-1}].id" value="${coordonneePostale.id}">
                        <input type="hidden" name="object.coordonneePostales[${coordonneePostale_index-1}].partenaire.id" value="${object._key()}">
                        <td>
                            <a href="#" id="adresse" data-type="text" data-original-title="Saisir Adresse"
                               class="editable editable-click" style="display: inline;">${coordonneePostale.adresse}</a>
                            <input type="hidden" name="object.coordonneePostales[${coordonneePostale_index-1}].adresse" value="${coordonneePostale.adresse}">
                        </td>
                        <td>
                            <a href="#" id="username" data-type="text" data-original-title="Saisir CP"
                               class="editable editable-click" style="display: inline;">${coordonneePostale.cp}</a>
                            <input type="hidden" name="object.coordonneePostales[${coordonneePostale_index-1}].cp" value="${coordonneePostale.cp}">
                        </td>
                        <td>
                            <a href="#" id="username" data-type="text" data-original-title="Saisir Ville"
                               class="editable editable-click" style="display: inline;">${coordonneePostale.ville}</a>
                            <input type="hidden" name="object.coordonneePostales[${coordonneePostale_index-1}].ville" value="${coordonneePostale.ville}">
                        </td>
                        <td>
                            <a href="#" id="username" data-type="text" data-original-title="Saisir Pays"
                               class="editable editable-click" style="display: inline;">${coordonneePostale.pays}</a>
                            <input type="hidden" name="object.coordonneePostales[${coordonneePostale_index-1}].pays" value="${coordonneePostale.pays}">
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick='$(this).parentsUntil("tbody", "tr").remove();'
                               style="color:white">
                            -
                            </a>
                        </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
        #{crud.groupButtonsUpdate type: type/}
    #{/form}

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>
<link rel="stylesheet" media="screen" href="@{'/public/js/bootstrap-editable-1.4.6/css/bootstrap-editable.css'}">
<script src="@{'/public/js/bootstrap-editable-1.4.6/js/bootstrap-editable.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script id="entry-template" type="text/x-handlebars-template">
    <tr>
        <input type="hidden" name="object.coordonneePostales[{{indexTr}}].partenaire.id" value="{{partenaire_id}}">
        <td>
            <a href="#" id="idAdresse" data-type="text" data-original-title="Saisir Adresse"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].adresse" value="">
        </td>
        <td>
            <a href="#" id="idCp" data-type="text" data-original-title="Saisir CP"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].cp" value="">
        </td>
        <td>
            <a href="#" id="idVille" data-type="text" data-original-title="Saisir Ville"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].ville" value="">
        </td>
        <td>
            <a href="#" id="idPays" data-type="text" data-original-title="Saisir Pays"
               class="editable editable-click" style="display: inline;"></a>
            <input type="hidden" name="object.coordonneePostales[{{indexTr}}].pays" value="">
        </td>
        <td>
            <a class="btn btn-danger" onclick='$(this).parentsUntil("tbody", "tr").remove();'>
                -
            </a>
        </td>
    </tr>
</script>
<script src="@{'/public/js/table.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
    $(function() {
        editableTable('addresses');
    });
</script>
