#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields:['reference', 'typeArticle' , 'nom', 'unite', 'couleur', 'quantiteStock', 'seuilQteMin', 'seuilQteMax', 'qteMaxEmp', 'prixUnitaire', 'actif']}
        #{crud.custom "reference"}
            #{field 'object.reference'}
                <label for="${field.id}">
                &{'reference'}
                </label>
                <p class="offset1">
                ${field?.value}
                </p>
                <input id="${field.id}" class="${field.errorClass}" type="hidden" name="${field.name}" value="${field?.value?.escape()?.raw()}"/>
                #{ifError field.name}
                    <span class="error">${field.error.raw()}</span>
                #{/ifError}
            #{/field}
        #{/crud.custom}
    #{/crud.form}
        #{crud.groupButtonsSave type: type/}
    #{/form}

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>