#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
<div id="crudList" class="${type.name}">
    <h2 id="crudListTitle">&{'crud.list.title.'+typeCommande}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['reference', 'type','action']}
            #{crud.custom 'action'}
                #{form @show(object._key())}
                    <p class="crudListAddTable">
                        <input type="submit" value="&{'modify'}" />
                    </p>
                #{/form}
                #{form @delete(object._key()).add('typeCommande', typeCommande)}
                    <p class="crudDeleteTable">
                        <input type="submit" value="&{'delete'}" />
                    </p>
                #{/form}
                #{if object.type == object.type.fournisseur}
                <p class="crudListInfo">
                    <input type="submit"
                           onclick="window.open('@@{Application.generate(object._key())}', '_blank');"
                           value="&{'print'}"/>
                </p>
                #{/if}
            #{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank().add('typeCommande', typeCommande)}">&{'crud.add', type.modelName + " " +typeCommande}</a>
    </p>

</div>
