#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    #{form action:@create(), enctype:'multipart/form-data'}
        <div class="row">
                <div class="span5">
                    <legend>Informations</legend><br/>
                    #{crud.form fields:['reference', 'nom', 'prenom', 'service', 'fonction']/}
                </div>
                <div class="span5 offset1">
                    <legend>Coordonnées</legend><br/>
                    #{crud.form fields:['ligneFixe', 'telPort', 'fax', 'courriel']/}
                </div>
        </div>
        <div class="row">
            <div class="span9">
                <legend>Partenaire</legend><br/>
                    #{crud.form fields:['partenaire']/}
            </div>
        </div>
        #{crud.groupButtonsSave type: type/}
    #{/form}

</div>