#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        <div class="row">
            <div class="span5">
                <legend>Informations</legend><br/>
                #{crud.form fields:['reference', 'nom', 'prenom', 'service', 'fonction']/}
            </div>
            <div class="span5 offset1">
                <legend>Coordonnées</legend><br/>
                #{crud.form fields:['ligneFixe', 'telPort', 'fax', 'courriel']/}
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <legend>Partenaire</legend><br/>
                #{crud.form fields:['partenaire']/}
            </div>
        </div>
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

</div>